 <!-- <div class="header">
  
   <img src="../assets/photo.jpg"> 

</div>  -->
<div class="app-container">
<mat-tab-group animationDuration="0ms" [color]="color">
    <mat-tab label="Flipkart">
      <app-items [section]="'Flipkart'"></app-items>
    </mat-tab>
    <mat-tab label="Amazon">
      <app-items [section]="'Amazon'"></app-items>
    </mat-tab>
    <mat-tab label="Myntra">
      <app-items [section]="'Myntra'"></app-items>
    </mat-tab>
  </mat-tab-group>
</div>

<div class="footer">
  © 2022 <a href="javascript:void(0);">All Rights Reserved</a>
</div>